body {
    background-color: #a3bdf0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #a03d6b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    margin-top:10px;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px 10px 10px 10px;
    transition: opacity 0.3s ease-in-out; 
    opacity: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
    transform:scale(0.5s);
    opacity: 1;
}

.search-input {
    border: none;
    color:#a03d6b;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 0;
    outline: none;
}

.search-btn {
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 25px 25px 0;
}